<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{{>header}}
<img src="/img/me.jpg"
     title="olena matsevko"
     width="250px">
{{>footer}}
</body>
</html>